* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: rgb(35, 35, 35);
}

.main .head {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 3rem;
  height: 6rem;
  background-color: rgb(35, 35, 35);
}

.main .head .logo p {
  font-size: 1.5em;
  font-weight: 800;
  color: rgb(243, 186, 47);
  text-transform: uppercase;
}

.main .head .list ul {
  list-style: none;
  display: flex;
}

.main .head .list ul li {
  margin: 0 1rem;
}

.main .head .list ul li a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.3s;
}

.main .head .list ul li a:hover {
  color: rgb(243, 186, 47);
}

.main .head .list ul .spec {
  display: flex;
  justify-content: center;
}

.main .head .list ul .spec li {
  margin: 0 0.5rem;
}

.main .head .list ul li a.log {
  text-decoration: none;
  color: whitesmoke;
  border-radius: 4px;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  background-color: rgb(69, 69, 69);
}

.main .head .list ul li a.log:hover {
  color: rgba(245, 245, 245, 0.5);
  background-color: rgb(69, 69, 69, 0.5);
}
/* .main .head .list ul li {
  list-style: none;
} */

.main .head .list ul li a.sign {
  text-decoration: none;
  border-radius: 4px;
  color: rgb(35, 35, 35);
  transition: 0.3s;
  padding: 0.5rem 1rem;
  background-color: rgb(243, 186, 47);
}

.main .head .list ul li a.sign:hover {
  color: rgba(35, 35, 35, 0.5);
  background-color: rgb(243, 186, 47, 0.5);
}

.main .home {
  width: 100%;
  height: 100vh;
  padding: 12rem 5rem 5rem 5rem;
  display: flex;
  color: whitesmoke;
}

.main .home .desc {
  width: 50%;
  padding: 2rem;
  margin-right: 2rem;
}

.main .home .desc h1 {
  font-size: 3em;
  margin-bottom: 2rem;
}

.main .home .desc p {
  text-align: justify;
  line-height: 1.6rem;
  font-size: 0.9em;
}

.main .home .card {
  width: 50%;
  height: 85%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.main .home .img {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/article_image/bitcoin1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  padding: 0 6rem 4rem 0;
}

.main .home .img h1 {
  font-size: 2.8em;
  margin-bottom: 1rem;
}

.main .home .img ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.main .home .img ul li {
  margin-bottom: 1.5rem;
}

.main .home .img ul li a {
  color: whitesmoke;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background-color: rgb(35, 35, 35);
  transition: 0.3s;
}

.main .home .img ul li a:hover {
  color: rgb(35, 35, 35);
  background-color: rgb(243, 186, 47);
}

.main .blog {
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  background-color: rgb(35, 35, 35);
  padding-top: 2rem;
  color: whitesmoke;
}

.main .blog h1 {
  font-size: 3rem;
  text-align: center;
  word-spacing: 2rem;
}

.main .blog .difer {
  display: flex;
  padding: 3rem 5rem;
}

.main .blog .difer .latest {
  width: 50%;
}

.main .blog .difer .latest-card {
  width: 100%;
  height: 8rem;
}

.main .blog .difer .latest img {
  width: 25%;
  height: 100%;
  background-color: antiquewhite;
}

.main .blog .difer .latest p.lat,
.main .blog .difer .popular p.pop {
  text-align: center;
  font-size: 1.5em;
}

.main .blog .difer .popular {
  width: 50%;
}
