{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="head">
        <div class="logo">
          <p>MoneyFarm</p>
        </div>
        <div class="list">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <div class="spec">
              <li><a class="log" href="#">LogIn</a></li>
              <li><a class="sign" href="#">SignUp</a></li>
            </div>
          </ul>
        </div>
      </div>
      <div class="home">
        <div class="desc">
          <h1>Get Information for your Invest and Trading Journey</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat, repellat at cum vel cumque alias recusandae fugit quibusdam eius facilis enim maiores nostrum dolorem, ipsum expedita dolorum maxime perspiciatis rerum!</p>
        </div>
        <div class="img"></div>
      </div>
      <div class="blog">
        <div class="card">
          <img src="" alt="" />
          <h2>Title</h2>
          <p>created_at</p>
          <p>description</p>
        </div>
      </div>
    </div>
  </body>
</html>
