{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="head">
        <div class="logo">
          <p>MoneyFarm</p>
        </div>
        <div class="list">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <div class="spec">
              <li><a class="log" href="#">LogIn</a></li>
              <li><a class="sign" href="register">SignUp</a></li>
            </div>
          </ul>
        </div>
      </div>
      <div class="home">
        <div class="desc">
          <h1>Get Information for your Invest and Trading Journey</h1>
          <p>
            Welcome to MoneyFarm, your ultimate source for investment news and analysis! Whether you're a beginner investor or an experienced trader, we provide the latest market updates, in-depth insights, and top strategies for investing,
            stock trading, and cryptocurrency. From real-time market trends to expert guides on building a successful portfolio, MoneyFarm is here to help you make informed financial decisions with confidence. Stay ahead of the game and
            explore our latest articles now!
          </p>
        </div>
        <div class="card">
          <div class="img">
            <h1>Join Us Now</h1>
            <ul>
              <li><a href="#">Premium Member</a></li>
              <li><a href="#">Create Account</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blog">
        <p class="lat">Latest Article</p>
        <div class="difer">
          <div class="latest">
            {% for post in post_list %}
            <a href="#">
              <div class="latest-card">
                <img src="{{post.image.url}}" alt="" />
                <div class="desc">
                  <div class="tit">
                    <h2>{{post.title}}</h2>
                    <p class="date">{{post.created_at}}</p>
                  </div>
                  <p class="cont">{{post.content}}</p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
